process.executor = 'local'
process.cpus = 2
process.memory = '1 GB'
process.time = '1h'

params.outputDir = 'results'
params.logLevel = 'info'

executor {
    name = 'local'
    queueSize = 10
}

process {
    errorStrategy = 'retry'
    maxRetries = 3
    maxErrors = 5
}
singularity {
    enabled = true
    autoMounts = true
}

timeline {
    enabled = true
    file = "timeline-${new Date().format('yyyyMMdd_HHmmss')}.html"
}

trace {
    enabled = true
    file = 'trace.txt'
}
